.LostWorld {
    background-color: #61dafb;
    height: 100%;
    width: 100%;
    position: relative;
    place-items: center;
    /*background-image: url("../../assets/images/background.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.LostWorld Carousel {
    top: 100px;
}

/*.LostWorld img {*/
/*    width: 100%;*/
/*    filter: brightness(60%);*/
/*}*/